In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("House Price.csv")

In [3]:
data

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14615,6762830250,42734,2,1.50,1556,20000,1.0,0,0,4,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,6762830339,42734,3,2.00,1680,7000,1.5,0,0,4,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,6762830618,42734,2,1.00,1070,6120,1.0,0,0,3,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,6762830709,42734,4,1.00,1030,6621,1.0,0,0,4,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,6762831463,42734,3,1.00,900,4770,1.0,0,0,3,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [5]:
#Basic checks
data.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [6]:
data.tail()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
14615,6762830250,42734,2,1.5,1556,20000,1.0,0,0,4,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,6762830339,42734,3,2.0,1680,7000,1.5,0,0,4,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,6762830618,42734,2,1.0,1070,6120,1.0,0,0,3,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,6762830709,42734,4,1.0,1030,6621,1.0,0,0,4,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,6762831463,42734,3,1.0,900,4770,1.0,0,0,3,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [8]:
data.describe()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
count,1.462000e+04,14620.000000,14620.000000,14620.000000,14620.000000,1.462000e+04,14620.000000,14620.000000,14620.000000,14620.000000,...,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,1.462000e+04
mean,6.762821e+09,42604.538646,3.379343,2.129583,2098.262996,1.509328e+04,1.502360,0.007661,0.233105,3.430506,...,1970.926402,90.924008,122033.062244,52.792848,-114.404007,1996.702257,12753.500068,2.012244,64.950958,5.389322e+05
std,6.237575e+03,67.347991,0.938719,0.769934,928.275721,3.791962e+04,0.540239,0.087193,0.766259,0.664151,...,29.493625,416.216661,19.082418,0.137522,0.141326,691.093366,26058.414467,0.817284,8.936008,3.675324e+05
min,6.762810e+09,42491.000000,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,...,1900.000000,0.000000,122003.000000,52.385900,-114.709000,460.000000,651.000000,1.000000,50.000000,7.800000e+04
25%,6.762815e+09,42546.000000,3.000000,1.750000,1440.000000,5.010750e+03,1.000000,0.000000,0.000000,3.000000,...,1951.000000,0.000000,122017.000000,52.707600,-114.519000,1490.000000,5097.750000,1.000000,57.000000,3.200000e+05
50%,6.762821e+09,42600.000000,3.000000,2.250000,1930.000000,7.620000e+03,1.500000,0.000000,0.000000,3.000000,...,1975.000000,0.000000,122032.000000,52.806400,-114.421000,1850.000000,7620.000000,2.000000,65.000000,4.500000e+05
75%,6.762826e+09,42662.000000,4.000000,2.500000,2570.000000,1.080000e+04,2.000000,0.000000,0.000000,4.000000,...,1997.000000,0.000000,122048.000000,52.908900,-114.315000,2380.000000,10125.000000,3.000000,73.000000,6.450000e+05
max,6.762832e+09,42734.000000,33.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,...,2015.000000,2015.000000,122072.000000,53.007600,-113.505000,6110.000000,560617.000000,3.000000,80.000000,7.700000e+06

In [9]:
data.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

#EDA
Univariate Analysis

Bivariate Analysis

# Feature Selection

In [16]:
data.corr()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
id,1.000000,0.045966,-0.329034,-0.516909,-0.648127,-0.100269,-0.312305,-0.112937,-0.293004,-0.045061,...,-0.068645,-0.109155,0.294709,-0.479334,-0.070841,-0.599900,-0.089604,-0.004821,-0.004542,-0.773114
Date,0.045966,1.000000,-0.015663,-0.026485,-0.021958,0.004392,-0.010335,0.012006,-0.004782,-0.027402,...,-0.005869,-0.011636,0.018243,-0.023327,-0.018231,-0.032495,-0.000050,-0.004071,0.011457,-0.027919
number of bedrooms,-0.329034,-0.015663,1.000000,0.509784,0.570526,0.034416,0.177294,-0.006257,0.078665,0.026597,...,0.152954,0.016132,-0.044156,-0.013163,0.135712,0.389855,0.029400,0.003397,-0.006157,0.308460
number of bathrooms,-0.516909,-0.026485,0.509784,1.000000,0.753517,0.080806,0.502924,0.060104,0.183789,-0.128232,...,0.498127,0.049669,-0.105546,0.031156,0.223904,0.570530,0.078627,0.002180,0.009206,0.531735
living area,-0.648127,-0.021958,0.570526,0.753517,1.000000,0.174420,0.354743,0.105837,0.287728,-0.063358,...,0.309602,0.059400,-0.080303,0.054518,0.240208,0.757571,0.180312,0.002370,0.002511,0.712169
lot area,-0.100269,0.004392,0.034416,0.080806,0.174420,1.000000,-0.004138,0.026282,0.078308,-0.008548,...,0.051615,0.006848,0.070131,-0.090983,0.221432,0.149744,0.706812,-0.012671,0.003291,0.081992
number of floors,-0.312305,-0.010335,0.177294,0.502924,0.354743,-0.004138,1.000000,0.016316,0.020153,-0.269928,...,0.481565,0.006705,-0.129788,0.050731,0.127550,0.285093,-0.010120,-0.007579,0.016567,0.262732
waterfront present,-0.112937,0.012006,-0.006257,0.060104,0.105837,0.026282,0.016316,1.000000,0.400206,0.018644,...,-0.024226,0.085865,0.038318,-0.021795,-0.047791,0.085743,0.032055,0.001563,0.001448,0.263687
number of views,-0.293004,-0.004782,0.078665,0.183789,0.287728,0.078308,0.020153,0.400206,1.000000,0.052533,...,-0.055357,0.102944,0.039268,-0.004555,-0.079706,0.281452,0.072300,0.008004,-0.001657,0.395973
condition of the house,-0.045061,-0.027402,0.026597,-0.128232,-0.063358,-0.008548,-0.269928,0.018644,0.052533,1.000000,...,-0.381718,-0.062126,0.045334,-0.002998,-0.121189,-0.099743,-0.004748,-0.006939,-0.002136,0.041376
grade of the house,-0.673448,-0.033097,0.352945,0.663054,0.761835,0.110546,0.463082,0.079831,0.254532,-0.152530,...,0.440358,0.014501,-0.146342,0.115256,0.203754,0.720019,0.116725,0.000986,0.004940,0.671814
Area of the house(excluding basement),-0.565116,-0.015994,0.473599,0.684391,0.875793,0.183553,0.525643,0.071865,0.162672,-0.167695,...,0.419369,0.025727,-0.083730,-0.000088,0.345899,0.737744,0.194670,-0.002894,0.001222,0.615220
Area of the basement,-0.290806,-0.015711,0.300332,0.287190,0.441491,0.019755,-0.242976,0.085441,0.293062,0.180609,...,-0.138843,0.075104,-0.010542,0.112989,-0.145879,0.196403,0.011283,0.010284,0.002926,0.330202
Built Year,-0.068645,-0.005869,0.152954,0.498127,0.309602,0.051615,0.481565,-0.024226,-0.055357,-0.381718,...,1.000000,-0.233683,-0.062349,-0.143153,0.414591,0.328625,0.072874,-0.001631,-0.003968,0.050307
Renovation Year,-0.109155,-0.011636,0.016132,0.049669,0.059400,0.006848,0.006705,0.085865,0.102944,-0.062126,...,-0.233683,1.000000,0.018006,0.028908,-0.080050,-0.002601,0.005869,-0.000826,0.005342,0.133173
Postal Code,0.294709,0.018243,-0.044156,-0.105546,-0.080303,0.070131,-0.129788,0.038318,0.039268,0.045334,...,-0.062349,0.018006,1.000000,-0.310172,-0.099003,-0.108454,0.077483,0.010605,0.011528,-0.115908
Lattitude,-0.479334,-0.023327,-0.013163,0.031156,0.054518,-0.090983,0.050731,-0.021795,-0.004555,-0.002998,...,-0.143153,0.028908,-0.310172,1.000000,-0.131472,0.046148,-0.091622,0.014949,0.007193,0.297490
Longitude,-0.070841,-0.018231,0.135712,0.223904,0.240208,0.221432,0.127550,-0.047791,-0.079706,-0.121189,...,0.414591,-0.080050,-0.099003,-0.131472,1.000000,0.341221,0.258066,-0.010163,-0.003100,0.024414
living_area_renov,-0.599900,-0.032495,0.389855,0.570530,0.757571,0.149744,0.285093,0.085743,0.281452,-0.099743,...,0.328625,-0.002601,-0.108454,0.046148,0.341221,1.000000,0.189225,-0.001203,-0.005673,0.584924
lot_area_renov,-0.089604,-0.000050,0.029400,0.078627,0.180312,0.706812,-0.010120,0.032055,0.072300,-0.004748,...,0.072874,0.005869,0.077483,-0.091622,0.258066,0.189225,1.000000,-0.025014,-0.014587,0.075535
Number of schools nearby,-0.004821,-0.004071,0.003397,0.002180,0.002370,-0.012671,-0.007579,0.001563,0.008004,-0.006939,...,-0.001631,-0.000826,0.010605,0.014949,-0.010163,-0.001203,-0.025014,1.000000,0.004035,0.009890
Distance from the airport,-0.004542,0.011457,-0.006157,0.009206,0.002511,0.003291,0.016567,0.001448,-0.001657,-0.002136,...,-0.003968,0.005342,0.011528,0.007193,-0.003100,-0.005673,-0.014587,0.004035,1.000000,0.003804
Price,-0.773114,-0.027919,0.308460,0.531735,0.712169,0.081992,0.262732,0.263687,0.395973,0.041376,...,0.050307,0.133173,-0.115908,0.297490,0.024414,0.584924,0.075535,0.009890,0.003804,1.000000

# Model Creation

In [17]:
x=data.drop("Price",axis=1)

In [19]:
y=data.Price

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3, random_state=3)

In [28]:
from sklearn.ensemble import GradientBoostingRegressor
gbm=GradientBoostingRegressor()
gbm.fit(x_train,y_train)
y_gbm=gbm.predict(x_test)

In [29]:
y_gbm

array([308721.20978694, 379170.46998554, 392788.48686376, ...,
       275022.75938261, 346967.64633446, 394061.58018998])

In [30]:
#Model Evaluation 
from sklearn.metrics import r2_score
r2_score(y_test,y_gbm)

0.9772732343735682

In [31]:
x_test.shape

(4386, 22)

In [34]:
adj_r2_score=1-(1-0.97)*(4386-1)/(4386-22-1)
adj_r2_score

0.9698487279394912

# XGBOOST

In [ ]:
!pip install xgboost

In [44]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10234 entries, 10270 to 5994
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     10234 non-null  int64
 1   Date                                   10234 non-null  int64
 2   number of bedrooms                     10234 non-null  int64
 3   number of bathrooms                    10234 non-null  float64
 4   living area                            10234 non-null  int64
 5   lot area                               10234 non-null  int64
 6   number of floors                       10234 non-null  float64
 7   waterfront present                     10234 non-null  int64
 8   number of views                        10234 non-null  int64
 9   condition of the house                 10234 non-null  int64
 10  grade of the house                     10234 non-null  int64
 11  Area of the house(excluding basement)  10234 non-null  int64
 12  Area of the basement                   10234 non-null  int64
 13  Built Year                             10234 non-null  int64
 14  Renovation Year                        10234 non-null  int64
 15  Postal Code                            10234 non-null  int64
 16  Lattitude                              10234 non-null  float64
 17  Longitude                              10234 non-null  float64
 18  living_area_renov                      10234 non-null  int64
 19  lot_area_renov                         10234 non-null  int64
 20  Number of schools nearby               10234 non-null  int64
 21  Distance from the airport              10234 non-null  int64
dtypes: float64(4), int64(18)
memory usage: 1.8 MB

In [45]:
from xgboost import XGBRegressor
xgb_r=XGBRegressor()

In [46]:
xgb_r.fit(x_train,y_train)
y_hat=xgb_r.predict(x_test)

In [47]:
r2_score(y_test,y_hat)

0.9624362051139709

# Hyper parameter tuning in XGBoost

#Here we dont need to do hyper parameter tuning because already we get good score.

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

n_estimators = [int(x) for x in np.linspace(start=200, stop=2000, num=10)]#List Comprehension-using for loop in list
max_depth = [int(x) for x in np.linspace(10, 110, num=11)]#List Comprehension-using for loop in list
learning_rate=[0.1,0.2,0.3]
gamma=[0,1,2,3,4]
subsample=[0.5,0.7,1]
colsample_bytree=[0.5,0.7,1]

params={
    "max_depth":max_depth,"learning_rate":learning_rate,"n_estimators":n_estimators,
        "gamma":gamma,"subsample":subsample,"colsample_bytree":colsample_bytree
}
XGB =XGBRegressor(random_state=42)
rcv=RandomizedSearchCV(XGB, scoring="r2",param_distributions=params,n_iter=100,cv=3,
                      random_state=42,n_jobs=-1)
rcv.fit(x_train,y_train)
cv_best_params=rcv.best_params_
print("Best Parameters:{cv_best_params}")